# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual studio
*.vs

# Build directories
ProceduralGeneration/ProceduralGeneration/x64/
x64
/ProceduralGeneration/ProceduralGeneration/Debug
/ProceduralGeneration/ProceduralGeneration/Release
/ProceduralGeneration/Release/ProceduralGeneration.pdb
/ProceduralGeneration/Debug

!freeglut.dll
!glew32.dll

